.DS_Store
.history
node_modules/
data_dir/
/dist/
/logs/
/logsDockerfile/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
db
.env
data

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/config/local.json

# this file should be created on server
config/production.json

# Config sequelize-cli default
.sequelizerc
test.js
public/upload/export/*